<!DOCTYPE html>
<html>
<head>
	<title> Visualization </title>
	<script type='text/javascript' src='https://d3js.org/d3.v3.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type='text/javascript' src="static/index.js"></script>
	<style type="text/css"> 
   		input[type="radio"]{margin: 0 20px 0 135px};} 
.dot {
  stroke: #034;
}
	</style>
</head>
<body>
<center>
	<h1 align="center">CSE 524 - Illustrative Emphasis of Outliers</h1>

<div class="radio_container1">
                <form id="samplingType" action=""  onchange="send()">
                    <input class="radio" id="random" type="radio" name="sampling" value="random_sampling" >
                    <label class="radio_text" for="random">With Movement of Inliers</label>
                    <input class="radio" id="strat" type="radio" name="sampling" value="stratified_sampling" checked="checked">
                    <label class="radio_text" for="strat">Without Movement of Inliers</label>
                </form>
            </div>

  <div id="chart_container"></div>
  </center>
<div class="slider" id="slid">
  <input type="range" min="0.0" max="1.75" value="0" step="0.25" class="sli" id="der" onchange="updateTextInput(this.value);">
	<input type="text" id="textInput" value="">
</div>

</body>
</html>  
